#news{
    width: 385px;
    margin: auto;
    background-image: url(web09/images/t2.jpg);
}

#news .top{
    background-image: url(../web09/web09/images/t1.jpg);
    height: 116px;
}

#news .footer{
    background-image: url(../web09/web09/images/t3.jpg);
    height: 67px;
}

#news .body{
    padding: 0 30px;
}

#content .p1{
    margin-left: 6em;
    text-indent: -4em;
}

#content .p2{
    margin-left: 8.5em;
    text-indent: -2.5em;
}

#content p{
    text-indent: 2em;
}

